@model IEnumerable<VideoOnDemand.Entities.Module>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <button-container Controller="Modules" Actions="Create,Index" Descriptions="Create New,Back to List" use-glyphs="false"></button-container>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td class="button-col-width">
                <button-container controller="Modules" actions="Edit,Details,Delete" id="@item.Id" use-glyphs="true"></button-container>
            </td>
        </tr>
}
    </tbody>
</table>
