@model IEnumerable<UserCourseDTO>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <button-container Controller="UserCourses" Actions="Create,Index" Descriptions="Create New,Back to List" use-glyphs="false"></button-container>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td class="button-col-width">
                <button-container controller="UserCourses" actions="Edit,Details,Delete" id-userId="@item.UserId" id-courseId="@item.CourseId" use-glyphs="true"></button-container>
            </td>
        </tr>
}
    </tbody>
</table>
